 <!-- Fixed navbar -->
 <nav class="navbar navbar-default navbar-static-top"  >
    <div class="container" >
      <div class="navbar-header" style="background-color :darkslategrey,font-color =white">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'lab-10:index' %}">Home</a>
        <a class="navbar-brand" href='lab-10/watch_later.html'> Watch Later</a>
      </div>
    </div>
  </nav>