body {
    padding-top: 60px;
    background: rgb(173, 230, 221);
    text:black;
  }
.table{
  width:100%;
  height: 30px;
  table-layout: fixed;
}
.box-movie{
  width: 0px;
  height: 100px;
  border: 1px solid rgb(174, 235, 240); /*nanti apus aja*/
  box-sizing: border-box;
}
.img-center{
  position: absolute;
  top: 0; bottom:0; left: 0; right:0;
  margin: auto;
}
