{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <h1> Movies </h1>

    <br>
    <h2><b>{{movie.title}}</b></h2>
    
    <table class="table">
        <tr>  
        <img class="img-center" src ={{movie.poster}} height=300 width=200>
        <br>
        <br>
        <div class="box">
                {% if added %}
                <button class="btn btn-success"> Added to Watch Later </button>
                {% else %}
                <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
                {% endif%}
        </div>
        </tr>
        <br>
        <tr>
            <tr>
                <th>Year</th>
                <td>{{movie.year}}</td>
            </tr>
            <tr>
                <th>Rated</th>
                <td>{{movie.rated}}</td>
            </tr>
            <tr>
                <th>Released</th>
                <td>{{movie.released}}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{movie.runtime}}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{movie.genre}}</td>
            </tr>
            <tr>
                <th>Director</th>
                <td>{{movie.director}}</td>
            </tr>
            <tr>
                <th>Writer</th>
                <td>{{movie.writer}}</td>
            </tr>
            <tr>
                <th>Actors</th>
                <td>{{movie.actors}}</td>
            </tr>
            <tr>
                <th>Plot</th>
                <td>{{movie.plot}}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{movie.language}}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{movie.country}}</td>
            </tr>
            <tr>
                <th>Awards</th>
                <td>{{movie.awards}}</td>
            </tr>
            <tr>
                <th>Ratings</th>
                <td>{{movie.ratings}}</td>
            </tr>
        </tr>
        

    </table>
    <hr>
    <!-- <h2> Contoh cara mengambil judul: </h2>
    <h1 style="color:red"> {{ movie.title}} </h1> -->
    <br>


</div>
{% endblock %}
