{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <h1><b><i> Watch Later </i></b></h1>
    <br>
    {% for movie in watch_later_movies %}
    <div class=".box-movie" align=center>
        <hi><b>{{ movie.title}} </b></hi> 
        <br>
        <table class="table">
            <tr>
                <br>
                <img align="middle" src ={{movie.poster}} height=300 width=200>
                <br>
                <br>
                <a href="{% url 'lab-10:remove_watch_later' id %}" class="btn btn-default"> Delete </a>
                <td>
                        <tr>
                                <th>Year</th>
                                <td>{{movie.year}}</td>
                            </tr>
                            <tr>
                                <th>Rated</th>
                                <td>{{movie.rated}}</td>
                            </tr>
                            <tr>
                                <th>Released</th>
                                <td>{{movie.released}}</td>
                            </tr>
                            <tr>
                                <th>Time</th>
                                <td>{{movie.runtime}}</td>
                            </tr>
                            <tr>
                                <th>Genre</th>
                                <td>{{movie.genre}}</td>
                            </tr>
                            <tr>
                                <th>Director</th>
                                <td>{{movie.director}}</td>
                            </tr>
                            <tr>
                                <th>Writer</th>
                                <td>{{movie.writer}}</td>
                            </tr>
                            <tr>
                                <th>Actors</th>
                                <td>{{movie.actors}}</td>
                            </tr>
                            <tr>
                                <th>Plot</th>
                                <td>{{movie.plot}}</td>
                            </tr>
                            <tr>
                                <th>Language</th>
                                <td>{{movie.language}}</td>
                            </tr>
                            <tr>
                                <th>Country</th>
                                <td>{{movie.country}}</td>
                            </tr>
                            <tr>
                                <th>Awards</th>
                                <td>{{movie.awards}}</td>
                            </tr>
                            <tr>
                                <th>Ratings</th>
                                <td>{{movie.ratings}}</td>
                            </tr>
                </td>
            </tr>
        </table>
        
        
        
    </div>




    {% endfor %}
</div>
{% endblock %}
