{% extends "lab_8/layout/base.html" %}

{% block content %}
<section name="postFeed" id="postFeed">
	<div class="container" id="lab8">
	</div>
</section>
{% endblock %}


<!-- 
<button onclick="facebookLogin()">Login with Facebook</button> -->