body {
	margin-top: 50px;
	font-family: Open Sans;
}
.coverandpic {
	position: relative;
	overflow: hidden;
}
.picture {
	position: absolute;
	border-radius: 50%;
	display: block;
	align-content: center;
	align-items: center;
	margin: auto;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: 50px;
}
.cover {
	position: float;
	width: 100%;
	height: 300px;
	object-fit: cover; 
	top: 0;
	left: 0;
}
#login-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.userandabout {
	position: absolute;
	height: 50px;
	top: 230px;
	left: 0;
	right: 0;
	bottom: 0;
}
#emailgen {
	border-radius: 30px;
	background-color: darkgrey;
	padding-top: 10px;
	z-index: 1;
	width: 100%;
}
#status-input {
	align-items: center;
	vertical-align: center;
	border-color: black;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}
.card-body {
	border-radius: 5px;
	border-color: black;
	width: 100%;
	/*background-color: darkgrey;*/
	font-size: 17px;
	font-weight: bold;
}
