<div class="panel panel-info">
    <div class="panel-heading">
        <h2> List of Optical Disks : {{ opticals | length}} Items </h2>
        <a href="{% url 'lab-9:clear_session_item' 'opticals' %}" class="btn btn-danger" onclick="return confirm('Reset data?')"> <i class="fa fa-times" aria-hidden="true"></i> Reset Favourites List </a>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <th> No.</th>
            <th> Name</th>
            <th> Price (IDR)</th>
            <th> Qty.</th>
            <th> Action </th>

            </thead>
            <tbody>
            {% for optical in opticals %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td> {{ optical.name }}</td>
                <td> {{ optical.price }}</td>
                <td> {{ optical.quantity }}</td>
                <td>
                    {% if not optical.id in fav_opticals %}
                    <a href="{% url 'lab-9:add_session_item' 'opticals' optical.id %}" class="btn btn-primary"> <i class="fa fa-star" aria-hidden="true"> </i></a>
                    {% else %}
                    <a href="{%url 'lab-9:del_session_item' 'opticals' optical.id %}" class="btn btn-primary"> <i class="fa fa-star-o" aria-hidden="true"> </i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
