{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Daftar Teman Fasilkom</h2>
                    <div id="friend-list" class="list-group">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}

    <script>
        $( document ).ready(function () {//begitu selesai loading, data bakal ready
            // {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({//opening ajax. biasanya untuk yang berhubungan dengan server
                method: "GET",//mendapatkan data dari server
                url: '{% url "lab-7:friend-list-json" %}',//#URL untuk mendapatkan list teman,url.py->views
                success: function (friend_list) {//
                    console.log(friend_list['results'])
                    var friendlist = friend_list['results'];//mengambil data temen
                    // #tampilkan list teman ke halaman
                    if(friendlist.length==0) {
                        var html = '<div class="alert alert-danger text-center">\
                            <strong>Oops!</strong> Tidak ada teman\
                            </div>';
                        $("#friend-list").append(html)
                    }
                    else {
                        $.each(friendlist, function(index, friend) {//untuk setiap friend di friendlist
                            var button = '<span class="pull-right">'+
                                            '<button type="button" class="btn btn-xs btn-danger"'+
                                            'onClick="deleteFriend(\''+friend.npm+'\')">'+
                                                'Delete Friend'+
                                            '</button>'+
                                         '</span>';
                            var detail = '<span class="col-xs-4 col-md-2 pull-right">'+
                                            '<button type="button" class="btn btn-xs btn-default btn-block"'+
                                            'onClick="description('+friend.npm+')">'+
                                                'detail'+
                                            '</button>'+
                                         '</span>';
                            var html = '<a class="list-group-item clearfix">'+
                                        friend.friend_name +
                                        ' (' + friend.npm + ')' + button + detail + '</a>';
                            $("#friend-list").append(html) //biar muncul di html, append di bagian id friendlist
                        });
                    }
                }
            });
        });

        //const sama kayak final di java, ga bisa diganti
        const deleteFriend = function(npm) {
           window.open('delete-friend/'+npm+'/', '_self');//buka new window
        }

        const description = function(npm) {
            window.open('description/'+npm+'/', '_self');
        }
    </script>

{% endblock %}
